services:
  server:
    build:
      context: .
    volumes:
      - custom:/kutt/custom
    environment:
        DEFAULT_DOMAIN: ${DOMAIN}
        IS_HTTPS: ${IS_HTTPS}
        DB_CLIENT: pg
        DB_HOST: postgres
        DB_PORT: 5432
        DB_USER: ${DB_USER}
        DB_PASSWORD: ${DB_PASSWORD}
        DB_NAME: ${DB_NAME}
        REDIS_ENABLED: true
        REDIS_HOST: redis
        REDIS_PORT: 6379
        JWT_SECRET: ${JWT_SECRET}
        ADMIN_EMAILS: ${ADMIN_EMAIL}
    expose:
      - 3000
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
  postgres:
    image: postgres
    restart: always
    volumes:
      - db_data_pg:/var/lib/postgresql/data
    environment:
      DB_USER: ${DB_USER}
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD} 
      PGDATA: /var/lib/postgresql/data
    expose:
      - 5432
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5
  redis:
    image: redis:alpine
    restart: always
    expose:
      - 6379
volumes:
  db_data_pg:
  custom: